/*RESET*/
@import url('reset.css');

/*TIPOGRAFIA*/
@import url('tipografia.css');

/*CABEÇALHO*/
body {
    background-color: #dedede;
}
.cabecalho {
    width: 100%;
    float: left;
    padding: 1.5% 3%;
    background-color: #ffffff;
}
.logo {
    width: 152px;
    height: 36px;
    float: left;
    background: url('../media/logo/tipo.png') center center/152px no-repeat;
    font-size: 0;
}

/*MENU*/
.menu {
    display: none;
    width: 50%;
    height: 100%;
    position: fixed;
    background-color: white;
    box-shadow: -1px 0px 8px #00000025;
    top: 0;
    right: 0;
    padding: 1.5% 0%;
}
.menu ul {
    width: 100%;
    height: 100%;
    float: left;
    text-align: end;
    margin: 3% 0%;
    background-color: #ffffff;
    padding: 0% 6%;
    border-top: 1px solid #00000020;
}
.menu li {
    padding: 5% 0%;
}
.menu li a {
    font-size: 1em;
    color: #504550;
    font-weight: 600;
}
.menu li a:hover {
    color: white;
    transition: 0.25s ease;
}
.button-menu {
    width: 36px;
    height: 36px;
    float: right;
    text-align: center;
    color: #ff5100;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
}
#close-menu {
    margin-right: 6%;
}

/*BANNER*/
.banner {
    width: 100%;
    float: left;
    text-align: center;
    padding: 6% 3%;
    background-color: #dedede;
}
.title {
    width: 100%;
}
.title h3 {
    color: #504550;
    font-size: 1em;
}
.buttons {
    width: 100%;
}
.button {
    width: 80%;
    text-align: center;
    padding: 3% 4%;
    margin: 5px 10%;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 700;
    background-color: #ff5100;
    color: white;
}
#button-cadastrar {
    float: left;
}
#button-sobre {
    float: right;
    background-color: white;
    color: #ff5100;
}
button i {
    margin-top: 1%;
    float: right;
}

/*SERVIÇOS*/
.servicos {
    width: 100%;
    padding: 3%;
    float: left;
}
.servico {
    width: 100%;
    background-color: white;
    text-align: left;
    border-radius: 20px;
    margin: 5% 0;
    box-shadow:
    2px 2px 5px #00000050,
    -4px -4px 5px #ffffff99;
}
.servico h2 {
    width: 100%;
    padding: 80px 0;
    text-align: center;
    background: linear-gradient(to top, #ffffff 0%, #dddddd 60%);
    border-radius: 20px 20px 0 0;
    font-size: 1.8em;
}
.servico div {
    padding: 5%;
}
.servico h3, h4, p {
    color: #504550;
    margin: 5px 0;
}

/*NEWSLETTER*/
.newsletter {
    width: 100%;
    float: left;
    text-align: center;
    background-color: white;
    padding: 3%;
}
.newsletter h3 {
    color: #504550;
    font-size: 1em;
}
.newsletter form {
    margin: 2% 0;
}
input {
    width: 80%;
    border-radius: 30px;
    padding: 2% 4%;
    box-shadow:
    2px 2px 5px #00000050,
    -4px -4px 5px #ffffff99;
}

/*FOOTER*/
footer {
    width: 100%;
    padding: 3% 3% 1% 3%;
    float: left;
    text-align: center;
}
footer p {
    font-weight: 600;
    padding: 3% 3% 0 3%;
}
.social {
    width: 100%;
}
.social a {
    margin: 1%;
}
.social a i {
    font-size: 1.5em;
    width: 44px;
    height: 44px;
    background: linear-gradient(to top, #eee 0%, #bcbcbc 60%);
    border-radius: 50%;
    padding: 12px;
    color: white;
    box-shadow:
    2px 2px 5px #00000050,
    -4px -4px 5px #ffffff99;
}
.social a i:hover {
    background: linear-gradient(to top, #ff7b00 0%, #ff5100 60%);
}