/*==========================
RESET
==========================*/
@import url('reset.css');

/*==========================
CABEÇALHO
==========================*/
body {
    background-color: #dedede;
}

.cabecalho {
    width: 100%;
    float: left;
    padding: 3% 4%;
    background-color: #ffffff;
}

.logo {
    width: 152px;
    height: 36px;
    float: left;
    background: url('../media/logo/tipo.png') center center/152px no-repeat;
    font-size: 0;
}

.button-menu {
    width: 36px;
    height: 36px;
    float: right;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    background: linear-gradient(to right, #0C857D, #07c7ba);
}

/*==========================
MENU
==========================*/
